body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: 50px auto;
  grid-template-areas:
    "header header header header"
    "sidebar main-content main-content right-sidebar";
  min-height: 100vh;
}

.header {
  grid-area: header;
  background-color: #4185F4;
  color: #fff;
  padding: 30px;
  height: 20px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #CFBDB9;
  padding: 50px;
}

.main-content {
  grid-area: main-content;
  padding: 50px;
  background-color: #F6F8FC;
}

.right-sidebar {
  grid-area: right-sidebar;
  background-color: #5C5E60;
  padding: 50px;
}


.footer {
  padding: 10px; 
  background-color: #4185F4; 
  color: #fff; 
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
