* {
    margin: 0px;
    box-sizing: border-box;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas: 
    'header header header'
    'left-side feed right-side';
}

.header img {
    height: 40px;
    margin-top: 2px;
}


.header {
    grid-area: header;
    background-color:white;
    padding-bottom: 10px;
    
}

.feed {
    grid-area: feed;
    background-color: paleturquoise;
    margin-left: 10px;
    margin-right: 10px;
}

.feed-container {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 200px;
    grid-template-areas: 
    'post1'
    'post2';
    gap: 4px;
    padding: 4px;
}

.feed-container div {
    background-color: white;
    border-radius: 5px;
}

.left-side {
    grid-area: left-side;
    background-color: pink;
}

.left-side-container {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-template-areas: 
    'profile'
    'myorg'
    'recent';
    gap: 4px;
    padding: 4px;
}

.left-side-container div {
    border-radius: 0 0 5px 5px;
    background-color: white;
}

.left-side-container p {
    background-color: grey;
}

.right-side {
    grid-area: right-side;
    background-color: coral;
}

.right-side-container {
    height: 100%;
    display: grid;
    grid-template-rows: 100px 100px 100px;;
    grid-template-areas: 
    'news'
    'most-viewed'
    'add-to-feed';
    gap: 4px;
    padding: 4px;
}

.right-side-container div {
    border-radius: 5px;
    background-color: white;
}

