* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #1e1e1e;
    height: 100vh;
}

/* Main grid setup */

.gridcontainer {
    display: grid;
    grid-template-areas: 
    "headerleftspace header header header header headerrightspace"
    "mainleftspace mainleftmenu mainfeed mainfeed mainrightmenu mainrightspace";
    grid-template-rows: 75px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
}

/* Header */

.headerleftspace, .headerrightspace {
    background-color: #F3F2EF;
    box-shadow: 6px 6px 5px black;
}

.headerleftspace {
    grid-area: headerleftspace;  
}

.headerrightspace {
    grid-area: headerrightspace;
}

header {
    grid-area: header;
    background-color: #F3F2EF;
    padding: 15px;
    display: flex;
    align-items: center;
    box-shadow: 6px 6px 5px black;
}

.headersearch {
    border-radius: 5px;
    background-color: rgb(200, 200, 200);
    border: none;
    height: 50px;
    width: 450px;
    margin: 10px;
    padding: 5px 25px;
}

.headernavicons {
    display: flex;
    align-items: center;
    justify-self: right;
    margin-left: auto;
}

.headernavicon {
    border: dashed 2px rgba(0, 0, 0, 50);
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin: 10px;
}

/* Start of the main page content */

.mainleftspace {
    grid-area: mainleftspace;
    background-color: white;
    height: 95  vh;
}

.mainleftmenu {
    grid-area: mainleftmenu;
    background-color: aquamarine;
}

.mainfeed {
    grid-area: mainfeed;
    background-color: pink;
    display: grid;
    grid-template-areas: 
    "compose"
    "feedposts";
    grid-template-rows: 100px 1fr;
}

.mainrightmenu {
    grid-area: mainrightmenu;
    background-color: lightsalmon;
}

.mainrightspace {
    grid-area: mainrightspace;
    background-color: white;
}

.centered {
    text-align: center;
}

.highlight {
    color: #2A66BC;
}

/* Card template / Start of the left menu*/

.card {
    margin: 15px;
    padding: 1px 0px 1px 0px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 50);
}

.card p {
    margin: 15px;
}

.card img {
    object-fit: cover;
    
}

.card h3, h4 {
    margin: 15px;
}

.card ul {
    padding-bottom: 20px;
}

.card li {
    margin-left: 35px;
    list-style: none;
    line-height: 1.6rem;
    font-weight: bold;
    color: grey;
}

/* Main feed section */

.postinput {
    border-radius: 15px;
    min-width: 97%;
    padding: 10px;
}

.compose .card {
    padding: 10px 3% 1px 3%;
}

.composeicons {
    display: flex;
    justify-content: space-evenly;
}

.composeicon p {
    margin: 3px;
}

.composeicon {
    border: dashed 2px black;
    border-radius: 5px;
    margin: 10px;
}

.postfooter {
    display: flex;
}

.postfooter p {
    margin: 5px 15px;
    padding: 3px 8px;
    border: dashed 2px black;
    border-radius: 5px;
}

/* Start of the right menu */

.newsfeed li {
    margin: 5px 5px 5px 30px;
}

.newsfeed .newsarticle h3 {
    margin: 0px;
    color: black;
}   

.newsfeed .newsarticle p {
    margin: 0;
    color: grey;
}

.course h3 {
    margin: 0;
    color: black;
}

.course p {
    margin: 0;
    color: grey;
}

.course li {
    margin: 5px 5px 5px 30px;
}

.recommendedpage {
    margin: 10px;
    border: dashed 2px black;
    border-radius: 5px;
}