.grid-container {
    display: grid;
    grid-template-columns: 100px 0.65fr 4fr;
    grid-template-rows: 100vh ;
    grid-template-areas:
       "left  main   right"
}


.header {
    grid-area: header;
    background-color: tan;
}

.left-sidebar {
    grid-area: left;
    background-color: rgb(23, 22, 22);
    text-align: ;
    grid-template-columns: ;
    grid-template-rows: 100px ;
    grid-template-areas: 
    "1"
    "2"
    "3"
    "4"
    "5"
    "6"
    "7"
}

.main {
    grid-area: main;
    background-color: rgb(255, 255, 255);
    border: solid 2px black;
    text-align: center;
}

.right-sidebar {
    grid-area: right;
    background-color: rgb(56, 56, 56);
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: lightcyan;

}

.button {
    background-color: rgb(210, 213, 213);
    width: 70px;
    height: 70px;
    margin: 15px;
    border-radius: 35px;

}

.one {

}