* {
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 85px 210px 1fr;
    grid-template-rows: 55px 1fr 55px;
    grid-template-areas: 
        'nav channels main'
        'nav channels main'
        'nav channels main'
    ;
}

.nav {
    grid-area: nav;
    background-color: #ff00ff;
}


.channels {
    grid-area: channels;
    background-color: rgb(201, 49, 49);
}

.server-name {
    background-color: #00ff00;
    height: 5%;
}
.settings {
    background-color: bisque;
    height: 5%;
}

.channels-container {
    display: grid;
    height: 90%;
    grid-template-rows: 1fr 195px 195px 195px 195px;
}
.channels-container div {
    border: 1px solid rgb(221, 149, 15);
}

.main {
    grid-area: main;
    background-color: orange;
}

.main .title {
    background-color: #845113;
    height: 5%;
}

.main .content {
    height: 90%;
    background-color: #1e6b0a;
}
.main .bottom {
    background-color: blueviolet;
    height: 5%;
}
