* {
    margin: 0;
    background-color: rgb(28, 96, 34);
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 250px 1fr 270px 120px;
    grid-template-areas: 
        'logo search icons icons'
        'folders mail settings apps'
    ;
}

.logo {
    grid-area: logo;
    background-color: #00ffff;
}
.search {
    grid-area: search;
    background-color: #008080;

}

.icons {
    grid-area: icons;
    background-color: #7fffd4;
}

.folders {
    grid-area: folders;
    background-color: #dc143c;
}

.mail {
    grid-area: mail;
    background-color: #800000;

}

.settings {
    grid-area: settings;
    background-color: #db7093;
}

.apps {
    grid-area: apps;
    background-color: #b22222;
}