* {
    margin: 0px;
}

.container {
    display: grid;
    height: 100vh;

    grid-template-columns: 350px 1fr 350px 150px;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
        'gmail search icons icons'
        'folders mail settings apps';
}

.gmail {
    background-color: #00FFFF;

    grid-area: gmail;
}

.search {
    background-color: #008080;

    grid-area: search;
}

.icons {
    background-color: #7FFFD4;

    grid-area: icons;
}

.folders {
    background-color: #DC143C;

    grid-area: folders;
}

.mail {
    background-color: #800000;

    grid-area: mail;
}

.settings {
    background-color: #DB7093;

    grid-area: settings;
}

.apps  {
    background-color: #B22222;

    grid-area: apps;
}

/* Make site responsive */
@media screen and (max-width: 1300px) {
    .container {
        display: grid;

        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: 50px 1fr;
        grid-template-areas: 
            'gmail search icons'
            'folders mail mail';
  
      .apps, .settings {
        display: none;
      }
    }
  }

  @media screen and (max-width: 680px) {
    .container {
        display: grid;

        grid-template-columns: 100px 1fr 100px;
        grid-template-rows: 50px 1fr;
        grid-template-areas: 
            'gmail search icons'
            'folders mail mail';
  
      .apps, .settings {
        display: none;
      }
    }
  }
