.container {
  display: grid;
  grid-template:
    "nav sidebar header" 40px
    "nav sidebar main"  1fr /
    60px 200px 1fr;
  min-height: 100%;
}

.nav {
  grid-area: nav;
  background-color: lightcoral;
}

.sidebar {
  grid-area: sidebar;
  background-color: lightblue;
  grid-template: 
  "invitation" 100px
  "channels"  1fr
  "status" 30px /
  1fr;
}

.sidebar > .invitation {
  grid-area: invitation;
  background-color: blanchedalmond;
}

.sidebar > .channels {
  grid-area: channels;
  background-color: lightgrey;
}

.sidebar > .status {
  grid-area: status;
  background-color: lightpink;
}

.header {
  grid-area: header;
  background-color: lightgoldenrodyellow;
}

.main {
  grid-area: main;
  background-color: lightgreen;
}