* {
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS';
    background-color: black;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 70px 150px 1fr;
    grid-template-rows: 50px 170px 1fr 75px;
    grid-template-areas: 
    'sidebar server-name header'
    'sidebar invite-people chat'
    'sidebar channel-list1 chat'
    'sidebar voice-chat send-message'
}


.sidebar {
    background-color: black;
    grid-area:sidebar;
}

.sidebar-container div {
    background-color: grey;
    border-radius: 50%;
    height: 50px;
    margin: 10px;
}

.server-name {
    background-color: rgb(58, 58, 58);
    grid-area:server-name;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: white;
}

.server-name strong {
    background-color: rgb(58, 58, 58);
}


.header {
    background-color: rgb(58, 58, 58);
    grid-area:header;
    margin-left:3px;
}

.header p {
    color:black;
    background-color: rgb(58, 58, 58);
    text-align: center;
    font-size: 7px;
}

.invite-people {
    background-color: rgb(58, 58, 58);
    grid-area:invite-people;
    margin-top: 2px;
    display: block;
    text-align: center;
    margin-bottom: 2px;
}

.invite-people .circle {
    background-color: grey;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px 20px 10px 50px;
}

.invite-people p {
    color: white;
    font-size: 11px;
    background-color: rgb(58, 58, 58);
    margin-bottom:20px;
}

.invite-people span {
    color: white;
    font-size: 11px;
    background-color: rgb(65, 59, 186);
    font-size: 9px;
    padding: 10px 20px;
    border-radius: 3px;
}

.channel-list1 {
    background-color: rgb(58, 58, 58);
    grid-area: channel-list1;
    /* margin-bottom: 2px; */
}

.channel-list1 h3 {
    color:white;
    background-color: rgb(58, 58, 58);
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 5px;

}
.channel-list1 p {
    color:white;
    background-color: rgb(58, 58, 58);
    padding-left: 10px;
    
}

.chat {
    background-color: rgb(58, 58, 58);
    grid-area: chat;
    margin-top: 2px;
    margin-left: 3px;
    text-align: center;
    font-size: 7px;
}

.chat p {
    color:black;
    background-color: rgb(58, 58, 58);
}

.voice-chat {
    background-color: rgb(13, 164, 116);
    grid-area: voice-chat;
    background-color: rgb(58, 58, 58);
    display: flex;
    align-items: center;
    margin-top: 2px;
}

.voice-chat p {
    background-color: rgb(58, 58, 58);
    color: white;
    padding-left: 10px;
}

.send-message {
    background-color: rgb(58, 58, 58);
    grid-area: send-message;
    margin-top: 2px;
    margin-left: 3px;
    text-align: center;
    font-size: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-message p {
    color:white;
    font-size:15px;
    background-color: rgb(58, 58, 58);
}