* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template: 
    "header  header header header" 70px
    "options main   sidebar icons" 650px /
     200px     1fr   250px    100px;
     margin: 5px;
}
.header{
    grid-area: header;
    background-color: rgb(167, 236, 213);
    border: 1px solid rgb(196, 181, 181);
    display: grid;
    grid-template:
     " menu logo  searchbar" 50px /
       80px   60px  350px;
}
.menu{
    grid-area: menu;
    background-color: rgb(181, 224, 210);
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
}
.logo{
    grid-area: logo;
    background-color: rgb(215, 239, 198);
    margin-top: 10px;
    padding: 10px;
}
.searchbar{
    grid-area: searchbar;
    background-color: rgb(78, 217, 171);
    margin-left: 60px;
    margin-top: 10px;
    padding: 10px;
}
.options{
    grid-area: options;
    background-color: rgb(217, 242, 91);
    border: 1px solid rgb(174, 96, 96);
}
.main{
    grid-area:main;
    background-color: rgb(183, 175, 192);
    border: 1px solid black;
}
.sidebar{
    grid-area:sidebar;
    background-color: rgb(117, 130, 113);
    border: 1px solid black;
}
.icons{
    grid-area: icons;
    background-color: rgb(203, 150, 162);
    border: 1px solid black;
}
 