* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;

  grid-template:
    "serch serch serch" 50px
    "left main right" 1fr /
    300px 1fr 1fr;
  height: 100vh;
  gap: 10px;

  border-color: black;
}
.serch {
  grid-area: serch;
  background-color: rgba(210, 7, 31, 0.39);
}
.left {
  display: grid;
  grid-area: left;
  background-color: azure;
  grid-template:
    "inbox" 1fr
    "meet" 1fr
    "chat" 1fr / 500px;

  border-color: black;
}
.inbox {
  grid-area: inbox;
  background-color: rgba(206, 20, 45, 0.221);
}
.meet {
  grid-area: meet;
  background-color: rgba(210, 9, 9, 0.295);
}
.chat {
  grid-area: chat;
  background-color: rgba(236, 11, 60, 0.325);
}
.main {
  grid-area: main;
}
.right {
  display: grid;
  grid-area: right;
  background-color: rgba(255, 0, 0, 0.535);
  grid-template:
    "allsetting" 1fr
    "density" 2fr
    "theme" 1fr
    "type" 1fr / 
    1fr;
}
.allsetting {
  grid-area: allsetting;
  background-color: rgba(226, 43, 73, 0.438);
}
.density {
  grid-area: density;
  background-color: rgba(234, 14, 14, 0.214);
}

.theme {
  grid-area: theme;
  background-color: black;
}
.type {
  grid-area: type;
  background-color: beige;
}
