
  /* .container{
   display: grid;
  
   grid-template: 
   "header header header" 50px
   "left main right" 1fr/
   300px 500px 1fr;
   height: 100vh;
 
   gap: 10px;
   
  }
  */
  div {
    border-radius: solid black 2px;
  }
  .container{
    display: grid;
    grid-template: 
    "header header header header header " 50px
    ". left main right ." 500px/
    1fr 1fr 1fr 1fr 1fr; 
  }
  .left{
    display: grid;
    grid-area: left;
    background-color: rgba(151, 248, 159, 0.428);
    grid-template: 
    "profile" 3fr
    "visitor" 2fr
    "recent" 2fr/ 
    1fr;

  }
  .profile{
    grid-area: profile;
    background-color: rgba(49, 234, 21, 0.681);
  }

  .visitor{
    grid-area: visitor;
    background-color: rgba(0, 255, 119, 0.695);
  }
  .recent{
    grid-area: recent;
    background-color: rgb(33, 31, 31);
  }
  .header{
    grid-area:header;
    background-color: rgba(38, 255, 0, 0.566);
  }
  .right{
    display: grid;
    grid-area: right;
    background-color: rgba(85, 255, 0, 0.43);
    grid-template: 
    "news" 2fr
    "mostviews" 2fr 
    "feed" 2fr/
    1fr;
  }
  .news{
    grid-area: news;
    background-color: beige;
  }
  .mostviews{
    grid-area: mostviews;
    background-color: rgba(255, 228, 196, 0.621);
  }
  .feed{
    grid-area:feed;
    background-color: blanchedalmond;
  }
  .main{
    display: grid;
    grid-area: main;
    background-color: rgba(134, 232, 15, 0.551);
    grid-template:
    "feeds" 1fr  
    "post" 1fr/
    1fr;
  }
  .feeds{
    grid-area: feeds;
    background-color: aliceblue;
  }
  .post{
    grid-area:post;
    background-color:blanchedalmond;
  }