<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-discord.css">
    <title>Discord Layout</title>
</head>
<body>

    <div class="container">
        <div class="navigation-bar">
            
            <div class="nav-button return" onclick="returnToMenu()"><</div>
            <div class="nav-button">O</div>
            <div class="nav-button">O</div>
            <div class="nav-button">O</div>
            <div class="nav-button">O</div>
            <div class="nav-button">+</div>
            <div class="nav-button">O</div>
        </div>

        <div class="channel-navigation">
            <h1>Channel Navigation</h1>
        </div>

        <div class="chat-container">
            <h1>Chat</h1>
        </div>
    </div>

    <script>
        function returnToMenu() {
            window.location="/index.html"
        }
    </script>
</body>
</html>