<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-gmail.css">
    <title>Gmail Layout</title>
</head>
<body>
    <div class="container">
        <div class="navigation-bar">
            <a class="circular-button" href="https://lucianosimoni.github.io/boolean-uk-html-popular-page-layouts/index.html"><</a>
            <a class="nav-logo" href="#">😁Logo🦖</a>
            <input type="search" class="search-bar" placeholder="Search">
            <div class="nav-buttons">
                <a class="circular-button" href="#">🤔</a>
                <a class="circular-button" href="#">⚒️</a>
                <a class="circular-button" href="#">📱</a>
                <a class="circular-button" href="#">🙂</a>
            </div>
        </div>

        <div class="menu">
            <h1>Left-menu</h1>
        </div>

        <div class="main">
            <h1>E-mails</h1>
        </div>
    </div>
</body>
</html>