<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-linkedin.css">
    <title>LinkedIn Layout</title>
</head>
<body>
    <div class="container">
        <div class="navigation-bar">
            <a href="https://lucianosimoni.github.io/boolean-uk-html-popular-page-layouts/index.html">Return Menu</a>
            <h1>Navigation Bar</h1>
        </div>
        <div class="main-content">
            <div class="grid-content">
                <div class="left-block">Left Panel</div>

                <div class="mid-block">Mid Content</div>

                <div class="right-block">Right Panel</div>
            </div>
        </div>
    </div>
</body>
</html>