* {
    margin: 0;
}

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "header"
    "main";
}

.header {
    grid-area: header;
    background-color: lightblue;
}

.headergrid {
    display: grid;
    grid-template: 
    "home  search  icons" 50px /
     20%   50%     30%;
}

    .home {
        grid-area: home;
        background-color: aqua;
    }
    .search {
        grid-area: search;
        background-color: teal;
    }
    .icons {
        grid-area: icons;
        background-color: aquamarine;
    }

    .main {
        grid-area: main;
        background-color: lightcoral;
    }

.maingrid {
    display: grid;
    height: 100%;
    grid-template-columns: 20% 50% 20% 10%;
    grid-template-areas: 
    "folders mail settings apps";
}

    .folders {
        grid-area: folders;
        background-color: crimson;
    }
    .mail {
        grid-area: mail;
        background-color:maroon;
    }
    .settings {
        grid-area: settings;
        background-color:palevioletred;
    }
    .apps {
        grid-area: apps;
        background-color:firebrick;
    }

@media screen and (max-width: 500px) {
    .headergrid {
        display: grid;
        grid-template: 
        "home  icons" 50px /
         30%   70%;
    }

    .search {
        display: none;
    }

    .maingrid {
        display: grid;
        grid-template-columns: 20% 70% 10%;
        grid-template-areas: 
        "folders mail apps";
    }

    .settings {
        display: none;
    }

}